*{
    margin:0;
    padding:0;
    font-family: 'Zilla Slab', serif;
    box-sizing: border-box; /* el padding y border de ese elemento no incrementan su ancho */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

main { display: block; }

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

section{
    padding: 4em 0;
}


/************* HEADER ****************/
.header{
    background: url("../images/background-img.jpg") no-repeat center top;
    height: 100vh;
}

.banner{
    text-align: center;
    padding-top: 12em;
}

.banner img{
    border: 7px solid #E8AD08;
    border-radius: 50%;
    
}

.banner > h1{
    color:white;
    margin: 0.4em 0;
    letter-spacing: 6px;
    
}

.banner > span {
    color: #E8AD08;
    letter-spacing: 4px;
    font-size: 0.9em;
    text-transform: uppercase;
}

/********************** MENU *******************/

.navbar{
    position:fixed;
    width: 100%;
    height: 4em;
    background-color: #E8AD08;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.top{
    top: 0;
}

.navbar a {
   text-decoration: none; 
   color: #333;
}

.navbar> .navbar-list{
    list-style-type: none;
    display: flex;
}

.navbar> .navbar-list a{
    text-decoration: none;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-size: 14px;
}


.navbar> .navbar-list a:hover{
    color: #333;
}
.navbar> .navbar-list > .navbar-item a:hover:before{
    content: "[";
}

.navbar> .navbar-list > .navbar-item a:hover:after{
    content: "]";
}

.logo{
    width: 55px;
    height: 55px;
}

.navbar-logo{
    font-size: 2em;
}

.moveRight{
    animation: LeftRight;
    -webkit-animation: LeftRight;
    animation-duration: 1s;
    -webkit-animation-duration:1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode:forwards; 
}

/*************** SOCIAL LINKS **************/

.social-links{
    display:flex;
    list-style-type: none;
    justify-content: center;
}

.banner > .social-links{
    margin: 30px;
}

.social-links > li{
    
    margin-right: 19px;
    line-height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius:50%;
    
}

.social-links a{
    text-decoration: none;
    color:white;
    width: 36px;
    
}

.social-links a:hover{ 
    color: #E8AD08;
}

/************* FLEXBOX *************/

.row-flex {
    display: flex;
    flex-flow: row wrap;
}

.transport-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.transport-info {
    align-self: flex-end;
}


/************* QUIEN SOY **************/

header {
    text-align: center;
    padding-bottom: 4em;
}

header > h3 {
    font-size: 3.5em;
}

header > span {
    color: #E8AD08;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.who-i-am > .person-image > img {
    width: 100%;
}

.info-about-me > .item-interest{
    padding: 1em 0;
    border-bottom: 1px dashed #333;
}

.info-about-me > .item-interest > p {
    padding-top: 1em;
}

.info-about-me > .item-interest > h4 {
    font-size: 1.6em;
    margin: 0;
    color: #E8AD08;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/***************** ESTUDIOS *********************/

.studies{
    display:block;
    color:white;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background: url("../images/studies.jpg") no-repeat top;
    clear:both;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 515px;
}

.item-studies{
    text-align: center;  
    width: 30%;
}

h4 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #E8AD08;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/****************** EXPERIENCIA *******************/

.item-experience {
    padding-bottom: 2em;
}

.item-experience > .description{
    border: 1px solid #E8AD08;
    padding: 2em 4em;
}

.item-experience > .description > h4{
    margin-top: 0;
}

.item-experience > .stage {
    background: #E8AD08;
    text-align: center;
    padding: 2em 0;
    border: 2px solid #E8AD08;
    color: white;
    letter-spacing: 1px;
}

.item-experience > .date{
    position: absolute;
    z-index: -1;
}


.stage:hover{
  animation: Down;
  -webkit-animation: Down;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode:both; 
}

.description span{
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.downUp{
    animation: DownUp;
    -webkit-animation: DownUp;
    animation-duration: 1.25s;
    -webkit-animation-duration:1.25s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode:both; 
}

/******************  SOBRE MI *******************/

.about-me{
    padding-top:0;
}

.container-interest{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 300px;
    align-items: center;
}

.item-interest {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.item-interest h5{
    font-size: 2em;
    margin: 0.5em 0;
    color: #E8AD08;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/******************* FOOTER ***********************/

.footer{
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    height: 4em;
    background-color: #333;
    

}

.footer > span{
    margin: 0 30px;
}


/******************** CONTACTO ********************/

.contact{
    margin-top: 4em;
    width:1200px;
    margin: 0 auto;
}

.contact > header{
    padding-top: 4em;
}

.form{
    background-color: beige;
    border-radius: 15px;
    padding: 3em;
    border-style: outset;
    border-color: darkgoldenrod;
    margin-bottom: 4em;
}


input[type="text"],
input[type="email"],
input[type="number"],
textarea
{
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    padding: 10px;
    font-size: 16px;
    width:100%;
    margin-bottom: 10px;
}

textarea{
    height: 320px;
}

#sendNewClient{
    background-color: #E8AD08;
    color: #FCFCFC;
    letter-spacing: 2px;
    border: 1px solid #FCFCFC;
    padding: 15px;
    border-radius: 4px;
    margin-top: 10px;
    width: 100%

}

#sendNewClient:disabled,
#sendNewClient[disabled]{
  border: 1px solid #999999;
  background-color: #eee;
  color: #666666;
}

label{
    color: #75757D;
    letter-spacing: 2px;
    padding-bottom: 5px;

}

.how_know{
    
    margin: 10px 0;
}

.opcion-radio{
    margin: 10px;
}

.footer_bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4em;
}

.msg_error{
    letter-spacing: 2px;
    margin-left: 1em;
    margin-right: 1em;
    color: #a94442;
    background-color: #f2dede;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.msg_success{
    letter-spacing: 2px;
    margin-left: 1em;
    margin-right: 1em;
    color: #F5F5DC;
    background-color: #A5DC7A;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 4px;
}

.msg_warning{
    letter-spacing: 2px;
    margin-left: 1em;
    margin-right: 1em;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.has_error{
    border: 1px solid #a94442 !important;
}

/******************* CLIENTES ***************************/

.users > header {
    padding: 4em 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 200px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 200px;
    height: 100px;
    display: table-cell;
    vertical-align: inherit;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

th {
    background-color: #333;
    color:white;
    text-align: center;
}

td.clients-item-buttom {
    border: none;
    background: white;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-send{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    margin: 0 2px;
}
