*{
    margin:0;
    padding:0;
    font-family: 'Zilla Slab', serif;
    box-sizing: border-box; /* el padding y border de ese elemento no incrementan su ancho */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

section{
    padding: 4em 0;
}


/************* HEADER ****************/
.header{
    background: url("../images/background-img.jpg") no-repeat center top;
    height: 100vh;
}

.banner{
    margin: 0 auto;
    text-align: center;
    padding-top: 12em;
}

.banner img{
    border: 7px solid #E8AD08;
    border-radius: 50%;
    
}

.banner > h1{
    color:white;
    margin: 0.4em 0em;
    letter-spacing: 6px;
    
}

.banner > span {
    color: #E8AD08;
    letter-spacing: 4px;
    font-size: 0.9em;
    text-transform: uppercase;
}

/********************** MENU *******************/

.navbar{
    position:fixed;
    width: 100%;
    height: 4em;
    background-color: #E8AD08;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.top{
    top: 0;
}

.bottom{
    bottom:0;
}

.navbar a {
   text-decoration: none; 
   color: #333;
}

.navbar> .navbar-list{
    list-style-type: none;
    display: flex;
}

.navbar> .navbar-list a{
    text-decoration: none;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-size: 14px;
}


.navbar> .navbar-list a:hover{
    color: #333;
}

.navbar-logo{
   font-family: 'Amatic SC', cursive;
    font-size: 2em;
}

.moveRight{
    animation: LeftRight;
    -webkit-animation: LeftRight;
    animation-duration: 1s;
    -webkit-animation-duration:1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode:forwards; 
}

/*************** SOCIAL LINKS **************/

.social-links{
    display:flex;
    list-style-type: none;
    justify-content: center;
}

.banner > .social-links{
    margin: 30px;
}

.social-links > li{
    
    margin-right: 19px;
    line-height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius:50%;
    
}

.social-links a{
    text-decoration: none;
    color:white;
    width: 36px;
    
}

.social-links a:hover{ 
    color: #E8AD08;
}

/************* FLEXBOX *************/

.row-flex {
    display: flex;
    flex-flow: row wrap;
}

.transport-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.transport-info {
    align-self: flex-end;
}


/************* QUIEN SOY **************/

header {
    text-align: center;
    padding-bottom: 4em;
}

header > h3 {
    font-size: 3.5em;
}

header > span {
    color: #E8AD08;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.who-i-am > .person-image > img {
    width: 100%;
}

.info-about-me > .item-interest{
    padding: 1em 0;
    border-bottom: 1px dashed #333;
}

.info-about-me > .item-interest > p {
    padding-top: 1em;
}

.info-about-me > .item-interest > h4 {
    font-size: 1.6em;
    margin: 0;
    color: #E8AD08;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/***************** ESTUDIOS *********************/

.studies{
    display:block;
    color:white;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background: url("../images/studies.jpg") no-repeat top;
    clear:both;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 515px;
}

.item-studies{
    text-align: center;  
    width: 30%;
}

h4 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #E8AD08;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/****************** EXPERIENCIA *******************/

.item-experience {
    padding-bottom: 2em;
}

.item-experience > .description{
    border: 1px solid #E8AD08;
    padding: 2em 4em;
}

.item-experience > .description > h4{
    margin-top: 0;
}

.item-experience > .stage {
    background: #E8AD08;
    text-align: center;
    padding: 2em 0;
    border: 2px solid #E8AD08;
    color: white;
    letter-spacing: 1px;
}

.item-experience > .date{
    position: absolute;
    z-index: -1;
}


.stage:hover{
  animation: Down;
  -webkit-animation: Down;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode:both; 
}

.description span{
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.downUp{
    animation: DownUp;
    -webkit-animation: DownUp;
    animation-duration: 1.25s;
    -webkit-animation-duration:1.25s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode:both; 
}

/******************  SOBRE MI *******************/

.about-me{
    padding-top:0;
}

.container-interest{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 300px;
    align-items: center;
}

.item-interest {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.item-interest h5{
    font-size: 2em;
    margin: 0.5em 0;
    color: #E8AD08;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/******************* FOOTER ***********************/

.footer{
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    height: 4em;
    background-color: #333;
    

}

.footer > span{
    margin: 0 30px;
}


/******************** CONTACTO ********************/

.contact{
    margin-top: 4em;
    width:1200px;
    margin: 0 auto;
}

.form{
    background-color: beige;
    border-radius: 15px;
    padding: 3em;
    border-style: outset;
    border-color: darkgoldenrod;
}


input[type="text"],
input[type="email"],
input[type="number"],
textarea
{
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    padding: 10px;
    font-size: 16px;
    width:100%;
    margin-bottom: 10px;
}

textarea{
    height: 320px;
}

#enviar{
    background-color: #E8AD08;
    color: #FCFCFC;
    letter-spacing: 2px;
    border: 1px solid #FCFCFC;
    padding:10px;
    border-radius: 4px;
    margin-top: 10px;
    width: 100%

}

label{
    color: #75757D;
    letter-spacing: 2px;
    padding-bottom: 5px;

}

.how_know{
    
    margin: 10px 0;
}

.opcion-radio{
    margin: 10px;
}

.footer_bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4em;
}